<div class="page-header">
	<h1>
		System Resources <small> <i
			class="ace-icon fa fa-angle-double-right"></i> Permission Control
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/system}"><i
			class="fa fa-home"></i> System Dashboard</a> 
	</div>
</div>
<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<h1>You do not have enough privilege to view this resource! </h1>
		<button class="btn btn-lg btn-danger" onclick="window.history.back();"> Click here to go back</button>
	</div>
</div>