<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="content" class="col-md-6">
		<h3>Global-Item Category Delete</h3>

		<div class="separator"></div>
		<div class="widget">
			<div class="widget-head">
				<h4 class="heading">Delete Action Confirmation</h4>
			</div>

			<div class="widget-body ">
				<p>
					You are about to delete Global-Item Category : <strong th:text="${gCategory.name}">Name</strong>
				</p>
				Are you sure you want to proceed?

			</div>
			
			<div class="widget-body">
			<form role="form" method="POST" th:object="${cForm}"
				th:action="@{/system/category/delete}">
				<input type="hidden" th:field="*{categoryId}" /> <input type="submit"
					th:name="@{'confirm'}" class="btn btn-danger" value="Yes" /> <a
					class="btn btn-primary btn-sm" th:href="@{/system/category/index}"> <i
					class="fa fa-pencil fa-fw"></i> No
				</a>
			</form>
			</div>

		</div>
	</div>
</body>
</html>