<th:block th:if="${msg != null}">
	<div class="row">
		<div th:replace="layouts/commonviews/alert">Alert Block</div>
	</div>
</th:block>
<div id="login-box" class="login-box visible widget-box no-border">
	<div class="widget-body">
		<div class="widget-main">
			<h4 class="header blue lighter bigger">
				<i class="ace-icon fa fa-lock green"></i> Create Password
			</h4>

			<div class="space-6"></div>
			<form role="form"
				th:action="@{/user/setup/processpassword/{code} (code=${codeId})}"
				th:object="${passwordForm}" th:method="post">
				<fieldset>
					<div class="form-group">
						<label for="password">Enter Password</label> <input
							type="password" class="form-control" th:field="*{password}"
							id="exampleInputPassword1" placeholder="Password" /> <span
							class="text-danger" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"></span>
					</div>

					<div class="form-group">
						<label for="password">Enter Password</label> <input
							type="password" class="form-control"
							th:field="*{confirmPassword}" id="confirmPassword"
							placeholder="Confirm Password" /> <span class="text-danger"
							th:if="${#fields.hasErrors('confirmPassword')}"
							th:errors="*{confirmPassword}"></span>
					</div>

					<button type="submit" class="btn btn-primary btn-block">Create
						Password</button>
				</fieldset>
			</form>
		</div>
		<!-- /.widget-main -->
	</div>
	<!-- /.widget-body -->
</div>
<!-- /.login-box -->
