
<div class="page-header">
	<h1>Delete HMO Services</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<p>
			You are about to delete Service: <strong th:text="${globalHmoServices.serviceName}">name</strong>.
			Are you sure?
		</p>

		<form role="form" method="POST" th:object="${globalHmoServicesForm}">
			<input type="hidden" th:field="*{hmoServiceId}" />
			<button class="btn btn-danger" type="submit">
				<i class="ace-icon fa fa-check bigger-110"></i> Yes
			</button>
			<a class="btn btn-primary" th:href="@{/admin/insurances/hmos/hmoglobalservice}"
				th:if="${@userIdentity.renderLink(25)}">No</a>
		</form>
	</div>
</div>