
<div class="page-header">
	<h1>Delete Examination Category</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<p>
			You are about to delete Examination Category: <strong th:text="${examination.name}">name</strong>.
			Are you sure?
		</p>

		<form role="form" method="POST" th:object="${examinationForm}">
			<input type="hidden" th:field="*{ExamCategoryId}" />
			<button class="btn btn-danger" type="submit">
				<i class="ace-icon fa fa-check bigger-110"></i> Yes
			</button>
			<a class="btn btn-primary" th:href="@{/examinationcategory/examlist}">No</a>
		</form>
	</div>
</div>