<div class="page-header">
	<h1>
		Add <small> <i class="ace-icon fa fa-angle-double-right"></i>
			Create a patient profile
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-primary" th:href="@{/patients}"><i
			class="fa fa-list"></i> Search Patients
		</a>
		<a class="btn btn-xs btn-purple" th:href="@{/patients/add}"><i
			class="fa fa-plus-circle"></i> Create New Profile
		</a>
		<!-- <a class="btn btn-xs btn-yellow" href="#"><i
			class="fa fa-list"></i> Patients Settings
		</a>  -->
		<!-- <a class="btn btn-teal" th:href="@{/consultations/visits}"><i
			class="fa fa-list"></i> Create Visit
		</a> -->
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>
<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->

		<form role="form" class="form-horizontal" method="POST"
			th:object="${pForm}">
			<legend>Patient Profile Form</legend>



<input type="hidden" class="col-xs-12 col-sm-6"	th:field="*{patientId}" /> 



			<div class="form-group">
				<label for="title" class="col-sm-3 control-label no-padding-right">Title:</label>
				<div class="col-sm-9">
					<select th:field="*{titleId}" class="col-xs-10 col-sm-5">
						<option value="0">Select..</option>
						<option th:each="t: ${titles}" th:value="${t.id}"
							th:text="${t.acronym}"></option>
					</select> <span class="text-danger" th:if="${#fields.hasErrors('titleId')}"
						th:errors="*{titleId}"></span>
				</div>
			</div>

			<!-- <div class="form-group">
				<label for="patient code" class="col-sm-3 control-label no-padding-right">Patient Code:</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder=""
						th:field="*{patient_code}" readonly = "readonly" /> <span
						class="text-danger" th:if="${#fields.hasErrors('patient_code')}"
						th:errors="*{patient_code}"></span>
				</div>
			</div> -->
			
			
			<div class="form-group">
				<label for="surname" class="col-sm-3 control-label no-padding-right">Last Name:</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder="Surname"
						th:field="*{surname}"  /> <span
						class="text-danger" th:if="${#fields.hasErrors('surname')}"
						th:errors="*{surname}"></span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="firstName" class="col-sm-3 control-label no-padding-right">First Name:</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder="First Name"
						th:field="*{firstName}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('firstName')}"
						th:errors="*{firstName}"></span>
				</div>
			</div>	

			<div class="form-group">
				<label for="othernames"
					class="col-sm-3 control-label no-padding-right">Other Names:</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5"
						placeholder="Othernames" th:field="*{othernames}"
						 /> <span class="text-danger"
						th:if="${#fields.hasErrors('othernames')}"
						th:errors="*{othernames}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="gender" class="col-sm-3 control-label no-padding-right">Gender:</label>
				<div class="col-sm-9">
					<select th:field="*{genderId}" class="col-xs-10 col-sm-5">
						<option value="0">Select..</option>
						<option th:each="g: ${genders}" th:value="${g.id}"
							th:text="${g.type}"></option>
					</select> <span class="text-danger" th:if="${#fields.hasErrors('genderId')}"
						th:errors="*{genderId}"></span>
				</div>
			</div>

		<div class="form-group">
				<label for="maritalstatus" class="col-sm-3 control-label no-padding-right">Marital Status</label>
				<div class="col-sm-9">
					<select th:field="*{statusId}" class="col-xs-10 col-sm-5">
						<option value="0">Select..</option>
						<option th:each="m: ${maritalstat}" th:value="${m.id}"
							th:text="${m.status}"></option>
					</select> <span class="text-danger" th:if="${#fields.hasErrors('statusId')}"
						th:errors="*{statusId}"></span>
				</div>
			</div>
			
			
			<div class="form-group">
				<label for="language" class="col-sm-3 control-label no-padding-right">Preferred Language:</label>
				<div class="col-sm-9">
					<select th:field="*{languageId}" class="col-xs-10 col-sm-5">
						<option value="0">Select..</option>
						<option th:each="l: ${language}" th:value="${l.id}"
							th:text="${l.name}"></option>
					</select> <span class="text-danger" th:if="${#fields.hasErrors('languageId')}"
						th:errors="*{languageId}"></span>
				</div>
			</div>
			
			
	 



				<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3 no-padding-right"
								for="manufacturedate">Date of Birth:</label>

							<div class="col-xs-12 col-sm-9">
								<div class="clearfix">

									<input type="text" class="col-xs-12 col-sm-3 date-picker"
										id="date-picker" th:field="*{dob}"
										data-date-format="yyyy-mm-dd" /> <span class="text-danger"
										th:if="${#fields.hasErrors('dob')}" th:errors="dob"></span>

								</div>
							</div>
				</div>

				
			<div class="form-group">
				<label for="occupation" class="col-sm-3 control-label no-padding-right">Occupation:</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" 
						th:field="*{occupation}" /> <span class="text-danger"
						th:if="${#fields.hasErrors('occupation')}" th:errors="*{occupation}"></span>
				</div>
			</div>


			<div class="form-group">
				<label for="email" class="col-sm-3 control-label no-padding-right">Email Address:</label>
				<div class="col-sm-9">
					<input type="email" class="col-xs-10 col-sm-5" placeholder="Email"
						th:field="*{email}" /> <span class="text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="address" class="col-sm-3 control-label no-padding-right">Home Address:</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder="Address"
						th:field="*{address}" /> <span class="text-danger"
						th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
				</div>
			</div>


			<div class="form-group">
				<label for="State" class="col-sm-3 control-label no-padding-right">State:</label>
				<div class="col-sm-9">
					<select class="col-xs-10 col-sm-5" th:field="*{stateId}">
						<option value="0">Select..</option>
						<option th:each="s : ${states}" th:value="${s.stateId}"
							th:text="${s.stateName}"></option>
					</select> 
					<span class="text-danger" th:if="${#fields.hasErrors('stateId')}"
						th:errors="*{stateId}">
					</span>
				</div>
			</div>

	

			<div class="form-group">
				<label for="LGA" class="col-sm-3 control-label no-padding-right">LGA:</label>
				<div class="col-sm-9">
							
						<select th:field="*{lgaId}" id="lgs" class="col-xs-10 col-sm-5">
										<option value="0">Select</option>
									</select> <span class="text-danger" th:if="${#fields.hasErrors('lgaId')}"
										th:errors="lgaId"></span>
						
				</div>
			</div>


			<div class="form-group">
				<label for="homeNumber"
					class="col-sm-3 control-label no-padding-right">Mobile Number 1
					:</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5"
						placeholder="Home Number" th:field="*{homeNumber}" /> <span
						class="text-danger" th:if="${#fields.hasErrors('homeNumber')}"
						th:errors="*{homeNumber}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="phoneNumber"
					class="col-sm-3 control-label no-padding-right">Mobile Number 2:</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5"
						placeholder="Phone Number" th:field="*{phoneNumber}" /> <span
						class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}"
						th:errors="*{phoneNumber}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="height" class="col-sm-3 control-label no-padding-right">Height(in metres):</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder=""
						th:field="*{height}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('height')}"
						th:errors="*{height}"></span>
				</div>
			</div>
			
			<!-- <div class="form-group">
				<label for="height" class="col-sm-3 control-label no-padding-right">Height(in feet):</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-1" placeholder=""
						th:field="*{heightFeet}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('heightFeet')}"
						th:errors="*{heightFeet}"></span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="height" class="col-sm-3 control-label no-padding-right">Height(in inch):</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-1" placeholder=""
						th:field="*{heightInch}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('heightInch')}"
						th:errors="*{heightInch}"></span>
				</div>
			</div> -->
			
			
			
			<div class="form-group">
				<label for="bldgrp" class="col-sm-3 control-label no-padding-right">Select Blood Group:</label>
				<div class="col-sm-9">
					<select th:field="*{bldgrp}"
										 class="col-xs-10 col-sm-5">
										<option value="0">Select...</option>
							
										<option value="A=">A+</option>
										<option value="A-">A-</option>
										<option value="B+">B+</option>
										<option value="B-">B-</option>
										<option value="O+">O+</option>
											<option value="O-">O-</option>
										<option value="AB+">AB+</option>
										<option value="AB-">AB-</option>
									
										
			</select>  <span class="text-danger" th:if="${#fields.hasErrors('bldgrp')}"
			th:errors="*{bldgrp}"></span>
				</div>
			</div>
			
			
				<div class="form-group">
				<label for="genotype" class="col-sm-3 control-label no-padding-right">Select Genotype:</label>
				<div class="col-sm-9">
					<select th:field="*{genotype}"
										 class="col-xs-10 col-sm-5">
										<option value="0">Select...</option>
							
										<option value="AA">AA</option>
										<option value="AS">AS</option>
										<option value="AC">AC</option>
										<option value="SS-">SS</option>
								
									
										
			</select>  <span class="text-danger" th:if="${#fields.hasErrors('genotype')}"
			th:errors="*{genotype}"></span>
				</div>
			</div>
			




			<div class="form-group">
				<label for="Status" class="col-sm-3 control-label no-padding-right">Status:</label>
				<div class="col-sm-9">
					<select th:field="*{status}" class="col-xs-10 col-sm-5">
						<option value="0">Select..</option>
						<option value="Decease">Deceased</option>
						<option value="Living">Living</option>	
						<option value="Active">Active</option>
						<option value="Casualty">Casualty</option>							
					</select> <span class="text-danger" th:if="${#fields.hasErrors('status')}"
						th:errors="*{status}"></span>
				</div>
			</div>






			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<input type="hidden" th:field="*{patientId}" />
					<button class="btn btn-primary" type="submit">
						<i class="ace-icon fa fa-check bigger-110"></i> Add
					</button>

					<button class="btn btn-danger" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i> Reset
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	//height
</script>
<script>
	//this is for GET
	$(function() {
		/* Lga Selector*/
		$('#stateId').change(
				function(event) {
					$.ajax({
						type : "GET",
						url : "/../HMS/utilities/statesandlgas/lgabystate/"
								+ $('#stateId').val(),
						beforeSend : function() {
							$.gritter.add({
								title : "Progress...",
								text : "Fetching LGAs",
								time : 3000
							});
						},
						success : function(html) {
							$("#lgs").html(html);
							$.gritter.add({
								title : "Success!",
								text : "LGAs fetched",
								time : 4000
							});
						},
						error : function() {
							$.gritter.add({
								title : "Error!",
								text : "Error fetching LGAs",
								time : 4000
							});
						}

					});
				});
	});
</script>
