
<div class="page-header">
	<h1>Delete an history</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<p>
			You are about to remove this family history from the list: <!-- <strong
				th:text="${patient.title.acronym} + ' ' + ${patient.surname} + ' ' + ${patient.othernames}">name</strong>  -->Are you sure?
		</p>

		<form role="form" method="POST" th:object="${FHForm}">
			<input type="hidden" th:field="*{id}" />
			<button class="btn btn-danger" type="submit">
				<i class="ace-icon fa fa-check bigger-110"></i> Yes
			</button>
			<a class="btn btn-primary"
				th:href="@{/customers/patients/familyhistory/{id} (id = ${famhistory.patient.id})}">No</a>
		</form>
	</div>
</div>