<div class="page-header">
	<h1>
		Edit <small> <i class="ace-icon fa fa-angle-double-right"></i>
			Edit an allergy
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/admin}"><i
			class="fa fa-home"></i> Admin Dashboard</a> <a class="btn btn-xs btn-primary"
			th:href="@{/admin/medical/components/allergies}"><i class="fa fa-list"></i> All
			Allergies</a> 
			<a class="btn btn-xs btn-warning"
			th:href="@{/admin/medical/components/allergies/view/{id} (id=${allergy.allergyId})}"><i class="fa fa-eye"></i> View allergy</a>
			<a class="btn btn-xs btn-danger"
			th:href="@{/admin/medical/components/allergies/delete/{id} (id=${allergy.allergyId})}"><i class="fa fa-trash-o"></i> Delete allergy</a>
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>
<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->

		<form role="form" class="form-horizontal" method="POST"
			th:object="${aForm}">
			<legend>Allergy Form</legend>
			
			<div class="form-group">
				<label for="name" class="col-sm-3 control-label no-padding-right">Category:</label>
				<div class="col-sm-9">
					<select type="text" class="col-xs-10 col-sm-5" id="allergyCategoryId"
						placeholder="Allergy Name" th:field="*{categoryId}"
						required="required">
						<option value="">Select..</option>
						<option th:each="c: ${categories}" th:value="${c.allergyCategoryId}" th:text="${c.parentName}"></option>
					</select> <span class="text-danger"
						th:if="${#fields.hasErrors('categoryId')}"
						th:errors="*{categoryId}"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-3 control-label no-padding-right">Name:</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" id="allergies"
					 placeholder="Allergy Name"
						th:field="*{name}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="description" class="col-sm-3 control-label no-padding-right">Description:</label>
				<div class="col-sm-9">
					<textarea class="col-xs-10 col-sm-5" placeholder="Allergy Description"
						th:field="*{description}"></textarea> <span
						class="text-danger" th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</div>
			</div>
			
			
			<!-- <div class="form-group">
				<label for="Status" class="col-sm-3 control-label no-padding-right">Status:</label>
				<div class="col-sm-9">
					<select th:field="*{status}" class="col-xs-10 col-sm-5">
						<option value="0">Select..</option>
						<option value="Decease">Deceased</option>
						<option value="Active">Active</option>
						<option value="Pending">Pending</option>
						<option value="Casualty">Casualty</option>
						<option value="Living">Living</option>						
					</select> <span class="text-danger" th:if="${#fields.hasErrors('status')}"
						th:errors="*{status}"></span>
				</div>
			</div> -->
			
			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<input type="hidden" th:field="*{id}" />
					<button class="btn btn-primary" type="submit">
						<i class="ace-icon fa fa-check bigger-110"></i> Update
					</button>

					<button class="btn btn-danger" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i> Reset
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

