<div class="page-header">
	<h1>
		Add <small> <i class="ace-icon fa fa-angle-double-right"></i>
			Create an hospital
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/system}"><i
			class="fa fa-home"></i> System Dashboard</a> <a
			class="btn btn-xs btn-primary"
			th:href="@{/admin/organisations}"><i
			class="fa fa-list"></i> All Hospital</a>
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>
<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->

		<form role="form" class="form-horizontal" method="POST"
			th:object="${oForm}">
			<legend>Add Hospital Form</legend>
			<div class="form-group">
				<label for="name" class="col-sm-3 control-label no-padding-right">Name:</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5"
						placeholder="Name" th:field="*{name}" required="required" />
					<span class="text-danger" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="description"
					class="col-sm-3 control-label no-padding-right">Description:</label>
				<div class="col-sm-9">
					<textarea class="col-xs-10 col-sm-5"
						placeholder="Description" th:field="*{description}"></textarea>
					<span class="text-danger"
						th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="hospitalType" class="col-sm-3 control-label no-padding-right">Hospital Type:</label>
				<div class="col-sm-9">
					<select th:field="*{hospitalType}" class="col-xs-10 col-sm-5">
						<option value="0">Select..</option>
						<option value="Specialist">Specialist</option>
						<option value="Non Specialist">Non Specialist</option>						
					</select> <span class="text-danger" th:if="${#fields.hasErrors('hospitalType')}"
						th:errors="*{hospitalType}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="description"
					class="col-sm-3 control-label no-padding-right"> Email:</label>
				<div class="col-sm-9">
					<input type="email" class="col-xs-10 col-sm-5"
						placeholder="System email" th:field="*{systemEmail}" required="required" />
					<span class="text-danger"
						th:if="${#fields.hasErrors('systemEmail')}"
						th:errors="*{systemEmail}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="description"
					class="col-sm-3 control-label no-padding-right">Address:</label>
				<div class="col-sm-9">
				<textarea class="col-xs-10 col-sm-5"
						placeholder="Description" th:field="*{address}"></textarea>
					<!-- <input type="text" class="col-xs-10 col-sm-5"
						placeholder="Address" th:field="*{address}" required="required" /> -->
					<span class="text-danger"
						th:if="${#fields.hasErrors('address')}"
						th:errors="*{address}"></span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="State" class="col-sm-3 control-label no-padding-right">State:</label>
				<div class="col-sm-9">
					<select class="col-xs-10 col-sm-5" th:field="*{stateId}">
						<option value="0">Select..</option>
						<option th:each="s : ${stateList}" th:value="${s.stateId}"
							th:text="${s.stateName}"></option>
					</select> 
					<span class="text-danger" th:if="${#fields.hasErrors('stateId')}"
						th:errors="*{stateId}">
					</span>
				</div>
			</div>

	

			<div class="form-group">
				<label for="LGA" class="col-sm-3 control-label no-padding-right">LGA:</label>
				<div class="col-sm-9">
							
						<select th:field="*{lgaId}" id="lgs" class="col-xs-10 col-sm-5">
										<option value="0">Select</option>
									</select> <span class="text-danger" th:if="${#fields.hasErrors('lgaId')}"
										th:errors="lgaId"></span>
						
				</div>
			</div>
			
			<!--  Username -->
			<legend>Hospital Admin details </legend>
			<div class="form-group">
				<label for="systemUserEmail"
					class="col-sm-3 control-label no-padding-right"> Username:</label>
				<div class="col-sm-9">
					<input type="email" class="col-xs-10 col-sm-5"
						placeholder="mymail@mail.com" th:field="*{systemUserEmail}" required="required" />
					<span class="text-danger"
						th:if="${#fields.hasErrors('systemUserEmail')}"
						th:errors="*{systemUserEmail}"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="systemUserPassword"
					class="col-sm-3 control-label no-padding-right">Password:</label>
				<div class="col-sm-9">
					<input type="password" class="col-xs-10 col-sm-5"
						placeholder="password" th:field="*{systemUserPassword}" required="required" />
					<span class="text-danger"
						th:if="${#fields.hasErrors('systemUserPassword')}"
						th:errors="*{systemUserPassword}"></span>
				</div>
			</div>

			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<input type="hidden" th:field="*{id}" />
					<button class="btn btn-primary" type="submit">
						<i class="ace-icon fa fa-check bigger-110"></i> Add
					</button>

					<button class="btn btn-danger" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i> Reset
					</button>
				</div>
			</div>
		</form>
	</div>
</div>


<script>
	$(window).load(function(){
		$("#systemUserEmail").prop("readonly", true);
	});
</script>
<script type="text/javascript">
	$("#systemEmail").keyup(function(){
		$("#systemUserEmail").prop("readonly", false);
	});
</script>
<script type="text/javascript">
	$("#systemUserPassword").keyup(function(){
	var org = $('#systemEmail').val();
	var admin = $('#systemUserEmail').val();
		$.ajax({
			url : '../../../HMS/utilities/verifydomain/organisationForm/' + org +'/'+ admin+'/',
			beforeSend : function() {
				
			},
			success : function(msg) {
				if(msg === false){//
					alert('Mail not accepted.');
					$("#systemUserEmail").val("");
				}
			}//success
		})//ajax
	});
</script>
<script>
	//this is for GET
	$(function() {
		/* Lga Selector*/
		$('#stateId').change(
				function(event) {
					$.ajax({
						type : "GET",
						url : "../../utilities/statesandlgas/lgabystate/"
								+ $('#stateId').val(),
						beforeSend : function() {
							/* $.gritter.add({
								title : "Progress...",
								text : "Fetching LGAs",
								time : 3000
							}); */
						},
						success : function(html) {
							$("#lgs").html(html);
							/* $.gritter.add({
								title : "Success!",
								text : "LGAs fetched",
								time : 4000
							}); */
						},
						error : function() {
							/* $.gritter.add({
								title : "Error!",
								text : "Error fetching LGAs",
								time : 4000
							}); */
						}

					});
				});
	});
</script>

