<div class="page-header">
	<h1>
		Add <small> <i class="ace-icon fa fa-angle-double-right"></i>
			 Lab Test Category
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/system}"><i
			class="fa fa-list-alt"></i> System Dashboard</a> <a
			class="btn btn-xs btn-info" th:href="@{/system/labtest/labtestlist}"><i
			class="fa fa-list-alt"></i> All Category</a> <!-- <a class="btn btn-xs btn-info"
			th:href="@{/consultations/visits/consultant}"><i
			class="fa fa-list-alt"></i> Consultant Point</a> --><!-- <a
			class="btn btn-xs btn-info" th:href="@{/consultations/visits/laboratory}"><i
			class="fa fa-list-alt"></i> Lab Point</a> --> <!-- <a class="btn btn-xs btn-info"
			th:href="@{/consultations/visits/pharmacy}"><i class="fa fa-home"></i>Pharmacy Point</a> -->
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>
<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->

		<form role="form" class="form-horizontal" method="POST"
			th:action="@{/system/labtestcat/update/{id}}" th:object="${labTestCatForm}">
			<!-- <legend>Lab Test Form</legend> -->



<input type="hidden" class="col-xs-12 col-sm-6"	th:field="*{id}" /> 

			<div class="form-group">
				<label for="name" class="col-sm-3 control-label no-padding-right">ID</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder="" readonly = "readonly"
						th:field="*{id}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('id')}"
						th:errors="*{id}"></span>
				</div>
			</div>
	
			<div class="form-group">
				<label for="name" class="col-sm-3 control-label no-padding-right">Test Category</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder=""
						th:field="*{categoryName}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('categoryName')}"
						th:errors="*{categoryName}"></span>
				</div>
			</div>	
			

			<div class="form-group">
				<label for="surname" class="col-sm-3 control-label no-padding-right">Description:</label>
				<div class="col-sm-9">
					<textarea rows="4" cols="45" placeholder="" id="form-field-11" th:field="*{description}" required="required">Enter text here...
							</textarea><span
						class="text-danger" th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</div>
			</div>
			
					<div class="form-group">
				<label for="name" class="col-sm-3 control-label no-padding-right">created by</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder="" readonly = "readonly"
						th:field="*{createdBy}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('createdBy')}"
						th:errors="*{createdBy}"></span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="name" class="col-sm-3 control-label no-padding-right">Date Created</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder="" readonly = "readonly"
						th:field="*{createdDate}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('createdDate')}"
						th:errors="*{createdDate}"></span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="name" class="col-sm-3 control-label no-padding-right">Modified By</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder="" readonly = "readonly"
						th:field="*{modifiedBy}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('modifiedBy')}"
						th:errors="*{modifiedBy}"></span>
				</div>
			</div>
			
			
			<div class="form-group">
				<label for="name" class="col-sm-3 control-label no-padding-right">Last Modified On</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder="" readonly = "readonly"
						th:field="*{LastModifiedDate}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('LastModifiedDate')}"
						th:errors="*{LastModifiedDate}"></span>
				</div>
			</div>
			
			
			<div class="form-group">
				<label for="name" class="col-sm-3 control-label no-padding-right">Status</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" placeholder="" readonly = "readonly"
						th:field="*{status}" required="required" /> <span
						class="text-danger" th:if="${#fields.hasErrors('status')}"
						th:errors="*{status}"></span>
				</div>
			</div>
			
			
			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<input type="hidden" th:field="*{id}" />
					<button class="btn btn-primary" type="submit">
						<i class="ace-icon fa fa-check bigger-110"></i> update
					</button>

					<!-- <button class="btn btn-danger" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i> Reset
					</button> -->
				</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	//height
</script>
<script>
	//this is for GET
	$(function() {
		/* Lga Selector*/
		$('#stateId').change(
				function(event) {
					$.ajax({
						type : "GET",
						url : "/../HMS/utilities/statesandlgas/lgabystate/"
								+ $('#stateId').val(),
						beforeSend : function() {
							$.gritter.add({
								title : "Progress...",
								text : "Fetching LGAs",
								time : 3000
							});
						},
						success : function(html) {
							$("#lgs").html(html);
							$.gritter.add({
								title : "Success!",
								text : "LGAs fetched",
								time : 4000
							});
						},
						error : function() {
							$.gritter.add({
								title : "Error!",
								text : "Error fetching LGAs",
								time : 4000
							});
						}

					});
				});
	});
</script>
