<div class="page-header">
	<!-- <h1>
		Patient Profile <small> <i
			class="ace-icon fa fa-angle-double-right"></i> 
			<span th:text="${patient.title.acronym} + ' ' +  ${patient.surname} + ' ' + ${patient.firstName} + ' ' + ${patient.othernames} + ' ' + '-' + ' '  + ${patient.patient_id} " ></span> 
			</small>
	</h1> -->
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/customers}"><i
			class="fa fa-home"></i> Customer Dashboard</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/customers/patients }">
			<i class="glyphicon glyphicon-list"></i> All patients
		</a> 
		<!-- <a class="btn btn-xs btn-warning"
			th:href="@{/customers/patients/edit/{id} (id = ${patient.id})}">
			<i class="fa fa-edit"></i> Edit profile
		</a>  -->
		<!-- <a class="btn btn-xs btn-danger"
			th:href="@{/customers/patients/delete/{id} (id = ${patient.id})}">
			<i class="fa fa-trash-o"></i> Delete profile
		</a>  -->
		<!-- <a class="btn btn-danger"
			th:href="@{/consultations/create/{id} (id = ${patient.id})}">
			CREATE VISIT 
		</a> -->

	</div>
</div>
<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->
		<!-- User Profile -->
		<div id="user-profile-2" class="user-profile">
			<div class="tabbable">
				<!-- <ul class="nav nav-tabs padding-18">
					<li class="active"><a data-toggle="tab" href="#home"> <i
							class="green ace-icon fa fa-user bigger-120"></i> Profile
					</a></li>
					<li class=""><a
						th:href="@{/customers/patients/allergy/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-leaf bigger-120"></i> Allergies
					</a></li>

					<li class=""><a
						th:href="@{/customers/patients/history/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-plus-circle bigger-120"></i> Medical
							History
					</a></li>
					
					<li class=""><a
						th:href="@{/customers/patients/surgicalhistory/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-ban bigger-120"></i> Surgical
							History
					</a></li>

					<li class=""><a
						th:href="@{/customers/patients/familyhistory/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-male bigger-120"></i> Family
							History
					</a></li>
					
					<li class=""><a
						th:href="@{/customers/patients/socialhistory/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-ban bigger-120"></i> Social
							History
					</a></li>

					<li class=""><a
						th:href="@{/customers/patients/documents/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-file bigger-120"></i> Documents
					</a></li>
					<li class=""><a
						th:href="@{/customers/patients/nok/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-file bigger-120"></i> Emergency
							Contact
					</a></li>

					<li class=""><a
						th:href="@{/customers/patients/hmo/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-users bigger-120"></i> HMO
					</a></li>
					
					<li class=""><a
						th:href="@{/customers/patients/payment/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-users bigger-120"></i> Payment Option
					</a></li>

					<li class=""><a
						th:href="@{/customers/patients/hmo/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-exchange bigger-120"></i>
							Consultation History
					</a></li>
				</ul> -->

				<div class="tab-content no-border padding-24">
					<div id="home" class="tab-pane in active">
						<div class="row">
							<!-- <div class="col-xs-12 col-sm-3 col-md-3 center">
								<span class="profile-picture"> <img
									th:if="${patient.image == null}" id="avatar2"
									th:src="@{/resources/img/nhis.png}" alt="Profile"
									class="img-responsive" /> <img
									th:if="${patient.image != null}" id="avatar2"
									th:src="@{/customers/patients/image/{id}(id=${patient.id})}"
									alt="Profile" class="img-responsive" />
								</span>

								<div class="space space-4"></div>
								<a class="btn btn-sm btn-block btn-success" href="#modal-simple"
									data-toggle="modal"> <i class="glyphicon glyphicon-picture"></i>
									Change Image
								</a>

							</div> -->
							<!-- /.col -->

							<div class="col-xs-12 col-sm-9">
								<!-- <h4 class="blue">
									<span class="middle"
										th:text="${patient.title.acronym} + ' ' + ${patient.surname} + ' ' + ${patient.firstName} + ' ' + ${patient.othernames}">Alex
										M. Doe</span>
								</h4>
 -->

								<div class="profile-info-row">
									<div class="profile-info-name">Category ID</div>

									<div class="profile-info-value">
										<span th:text="${lab.id}">alexdoe</span>
									</div>
								</div>


								<div class="profile-user-info">
									<div class="profile-info-row">
										<div class="profile-info-name">Category Name</div>

										<div class="profile-info-value">
											<span th:text="${lab.categoryName}">alexdoe</span>
										</div>
									</div>
									
									<div class="profile-user-info">
									<div class="profile-info-row">
										<div class="profile-info-name">Description</div>

										<div class="profile-info-value">
											<span th:text="${lab.description}">alexdoe</span>
										</div>
									</div>

									<!-- <div class="profile-info-row">
										<div class="profile-info-name">Gender</div>

										<div class="profile-info-value">
											<span
												th:text="${patient.gender == null}? 'Not set' : ${patient.gender.type}">3
												hours ago</span>
										</div>
									</div> -->

<!-- 
									<div class="profile-info-row">
										<div class="profile-info-name">Marital Status</div>

										<div class="profile-info-value">
											<span
												th:text="${patient.maritalStatus == null}? 'Not set' : ${patient.maritalStatus.status}">3
												hours ago</span>
										</div>
									</div>


									<div class="profile-info-row">
										<div class="profile-info-name">Preffered Lang</div>

										<div class="profile-info-value">
											<span
												th:text="${patient.language == null}? 'Not set' : ${patient.language.name}">3
												hours ago</span>
										</div>
									</div>



									<div class="profile-info-row">
										<div class="profile-info-name">Home Address</div>

										<div class="profile-info-value">
											<i class="fa fa-map-marker light-orange bigger-110"></i> <span
												th:text="${patient.address == null}? 'Not set' : ${patient.address}">2010/06/20</span>
										</div>
									</div>


									<div class="profile-info-row">
										<div class="profile-info-name">LGA</div>

										<div class="profile-info-value">
											<span
												th:text="${patient.lga == null}? 'Not set' : ${patient.lga.localGovernmentAreasName}">3
												hours ago</span>
										</div>
									</div>


									<div class="profile-info-row">
										<div class="profile-info-name">State</div>

										<div class="profile-info-value">
											<span
												th:text="${patient.state == null}? 'Not set' : ${patient.state.stateName}">3
												hours ago</span>
										</div>
									</div> -->



								</div>

								<div class="hr hr-8 dotted"></div>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->

						<div class="space-20"></div>
					</div>
					<!-- /#home -->
				</div>
			</div>
		</div>

		<!-- Profile Ends  -->
		<!-- End View contents here -->
	</div>
</div>

<div class="modal fade" id="modal-simple">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Form -->
			<!-- <form th:action="@{/customers/patients/imageUpload}"
				th:object="${imageForm}" method="post" enctype="multipart/form-data">
				Modal heading
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Change Image</h4>
				</div>
				// Modal heading END
				Modal body
				<div class="modal-body">
					<div class="form-group">
						<label for="lastName"
							class="col-sm-3 control-label no-padding-right">Image:</label>
						<div class="col-sm-9">
							<input type="file" th:field="*{imageFile}" placeholder="image" /><span
								class="text-danger" th:if="${#fields.hasErrors('imageFile')}"
								th:errors="*{imageFile}"></span>
						</div>
					</div>
				</div>
				// Modal body END

				Modal footer
				<div class="modal-footer">
					<input type="hidden" th:field="*{id}" />
					<button class="btn btn-primary btn-xs" type="submit"
						id="save-changes">Upload image</button>
					<button type="button" class="btn btn-xs" data-dismiss="modal">Cancel</button>
				</div>
				// Modal footer END
			</form> -->
			<!-- /.Form -->
		</div>
	</div>
</div>
</div>
