<div class="page-header">
	<h1>
		Modify Role-Setup <small> <i
			class="ace-icon fa fa-angle-double-right"></i> Modify a User Role-Setup
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/system}"><i class="fa fa-home"></i> System
			Dashboard</a> <a class="btn btn-xs btn-primary"
			th:href="@{/system/umgt/roles}"><i class="glyphicon glyphicon-list"></i>
			All Role-Setup</a>
	</div>
</div>
<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->
		<div class="widget-box">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title smaller">User Role-Setup form</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main no-padding">
					<form class="form-horizontal" method="POST"
						th:object="${roleForm}" th:action="@{/system/umgt/roles/update}">
						<input type="hidden" th:field="*{roleId}" />
						<div class="form-group">
							<label for="roleName"
								class="col-sm-3 control-label no-padding-right">Role-Setup
								Name:</label>
							<div class="col-sm-9">
								<input type="text" class="col-xs-10 col-sm-5"
									placeholder="Role-Setup Name" th:field="*{roleName}" /> 
								<span class="text-danger" th:if="${#fields.hasErrors('roleName')}"
									th:errors="*{roleName}">
								</span>
							</div>
						</div>

						<div class="form-group">
							<label for="roleDescription"
								class="col-sm-3 control-label no-padding-right">Role-Setup
								Description:</label>
							<div class="col-sm-9">
								<textarea class="autosize-transition col-xs-10 col-sm-5"
									th:field="*{roleDescription}" placeholder="User Role-Setup Description">
								</textarea>
								<span class="text-danger"
									th:if="${#fields.hasErrors('roleDescription')}"
									th:errors="*{roleDescription}"></span>
							</div>
						</div>

						<div class="form-group">
							<label for="admin"
								class="col-sm-3 control-label no-padding-right">Administrator:</label>
							<div class="col-sm-9">
								<select class="col-xs-10 col-sm-5" th:field="*{admin}">
									<option value="0">No</option>
									<option value="1">Yes</option>
								</select> <span
									class="text-danger" th:if="${#fields.hasErrors('admin')}"
									th:errors="*{admin}"></span>
							</div>
						</div>

						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<input class="btn btn-primary" type="submit" onclick="return saveAlert();" 
									value="Update Role-Setup" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
 function saveAlert() {
     var confirmAction = confirm('Are you sure you want to save your last action?.');
     alert(confirmAction);
     if(confirmAction == true){
      return true;
     }else{
      return false;
     }
 }
</script>

