<div class="page-header">
	<h1>
		Unit <small> <i class="ace-icon fa fa-angle-double-right"></i>
			List of Unit Categories
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-success" th:href="@{/admin}"><i
			class="fa fa-home"></i> Admin Dashboard</a> <a
			class="btn btn-xs btn-primary"
			th:href="@{/system/unit/category/list}"><i
			class="fa fa-list"></i> All Unit Categories</a> <a
			class="btn btn-xs btn-warning"
			th:href="@{/system/unit/save}"><i
			class="fa fa-plus-circle"></i> Add Unit</a>
			
			
			
	</div>
</div>
<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->
		<div class="table-header">Results for Unit categories</div>
		<table id="dTable"
			class="table table-striped table-bordered table-hover">
			<!-- Table heading -->
			<thead>
				<tr>
					<th>Unit Name</th>
					<th>Point Name</th>
					<th>Billing Scheme</th>
					
					<th><i class="glyphicon glyphicon-asterisk"></i></th>
				</tr>
			</thead>
			<!-- // Table heading END -->
			<!-- Table body -->
			<tbody>
				<tr th:each="c : ${hrUnitView}">
					<td th:text="${c.unitName}">Name</td>
					<td th:text="${c.pointName}">Name</td>
					<td th:text="${c.billingScheme}">Name</td>
					
					 <td> <a class="btn btn-xs btn-warning tooltips"
						title="edit category details"
						th:href="@{/system/unit/edit/{id}(id=${c.unitId}) }">
							<i class="fa fa-edit"></i>
					</a> <a class="btn btn-xs btn-danger tooltips"
						title="Delete category details"
						th:href="@{/system/unit/delete/{id}(id=${c.unitId}) }">
							<i class="fa fa-trash-o"></i>
					</a></td> 
				</tr>
			</tbody>
			<!-- // Table body END -->
		</table>
		<!-- /. End view content here -->
	</div>
</div>
<script>
	jQuery(function($) {
		var oTable1 = $('#dTable').dataTable({
			bAutoWidth : false,
			"aoColumns" : [ {
				"bSortable" : true
			},null,null,{
				"bSortable" : false
			} ]

		//,
		//"sScrollY": "200px",
		//"bPaginate": false,

		//"sScrollX": "100%",
		//"sScrollXInner": "120%",
		//"bScrollCollapse": true,
		//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
		//you may want to wrap the table inside a "div.dataTables_borderWrap" element

		//"iDisplayLength": 50
		});

	});
	
	 
	
</script>