<div class="page-header">
	<h1>
		Edit Profile <small> <i
			class="ace-icon fa fa-angle-double-right"></i> Edit your account
			profile
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/system}"><i
			class="fa fa-home"></i> System Dashboard</a> <a
			class="btn btn-xs btn-primary" th:href="@{/user/profile }"> <i
			class="glyphicon glyphicon-eye-open"></i> View
		</a>
	</div>
</div>


<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->
		<!-- User Profile -->
		<div class="tabbable">
			<ul class="nav nav-tabs padding-18">

				<li><a th:href="@{/user/profile/edit}"><i
						class="fa fa-user"></i> Account details</a></li>
				<li class="active"><a href="#password" data-toggle="tab"><i
						class="fa fa-key"></i> Change Password</a></li>
				<li><a th:href="@{/user/profile/questions}"><i
						class="fa fa-lock"></i> Change Security Questions</a></li>
			</ul>

			<div class="tab-content no-border padding-24">
				<div id="password" class="tab-pane in active">
					<div class="row">
						<div class="col-md-12">
							<form method="post" th:action="@{/user/profile/processpassword}"
								th:object="${passwordForm}">
								<!-- Elements -->
								<div class="row">

									<!-- Column -->
									<div class="col-md-3">
										<strong>Change password</strong>
									</div>
									<!-- // Column END -->

									<!-- Column -->
									<div class="col-md-9">


										<label for="formerPassword">Old password</label>
										<div class="input-group">
											<input type="password" th:field="*{formerPassword}"
												class="form-control" placeholder="Leave empty for no change" />
											<span class="input-group-addon" data-toggle="tooltip"
												data-placement="top" data-container="body"
												data-original-title="Leave empty if you don't wish to change the password"><i
												class="fa fa-question-sign"></i></span>
										</div>
										<span class="text-danger"
											th:if="${#fields.hasErrors('formerPassword')}"
											th:errors="*{formerPassword}"></span>
										<div class="separator bottom"></div>

										<label for="password">New password</label> <input
											type="password" class="form-control" th:field="*{password}"
											placeholder="Leave empty for no change" />
										<div class="separator bottom"></div>
										<span class="text-danger"
											th:if="${#fields.hasErrors('password')}"
											th:errors="*{password}"></span>


										<div class="separator bottom"></div>
										<label for="confirmPassword">Repeat new password</label> <input
											type="password" class="form-control"
											th:field="*{confirmPassword}"
											placeholder="Leave empty for no change" /> <span
											class="text-danger"
											th:if="${#fields.hasErrors('confirmPassword')}"
											th:errors="*{confirmPassword}"></span>
										<div class="separator bottom"></div>
									</div>
									<!-- // Column END -->

								</div>
								<!-- // Row END -->

								<!-- Form actions -->
								<div class="form-actions center" style="margin: 0;">
									<button type="submit" class="btn btn-primary">
										<i class="fa fa-fw fa-check-square-o"></i> Save changes
									</button>
								</div>
								<!-- // Form actions END -->
								<!-- /.Elements -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>