<div class="page-header">
	<h1>
		Visit Timeline <small> <i
			class="ace-icon fa fa-angle-double-right"></i> View a visit timeline
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/system}"><i
			class="fa fa-home"></i> System Dashboard</a> <a
			class="btn btn-xs btn-primary" th:href="@{/consultations/visits}"><i
			class="fa fa-list-alt"></i> All Visits</a>
	</div>
</div>
<div class="hr hr-18 dotted hr-double"></div>
