<div class="page-header">
	<h1>
		HMO <small>  <i class="ace-icon fa fa-angle-double-right"></i></small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/admin/insurances}"
			th:if="${@userIdentity.renderLink(28)}"><i
			class="fa fa-home"></i> System Dashboard</a> <a
			class="btn btn-xs btn-primary" th:href="@{/admin/insurances/hmos}"
			th:if="${@userIdentity.renderLink(25)}"><i
			class="fa fa-list"></i> All HMOs</a> <a class="btn btn-xs btn-warning"
			th:href="@{/admin/insurances/hmos/edit/{id} (id=${hmo.hmoId})}"
			th:if="${@userIdentity.renderLink(29)}"><i
			class="fa fa-edit"></i> Edit hmo</a> <a class="btn btn-xs btn-danger"
			th:href="@{/admin/insurances/hmo/delete/{id} (id=${hmo.hmoId})}"
			th:if="${@userIdentity.renderLink(26)}"><i
			class="fa fa-trash-o"></i> Delete hmo</a>
	</div>
</div>
<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->
		<!-- Hmo Profile -->
		<div id="user-profile-2" class="user-profile">
			<div class="tabbable">
				<ul class="nav nav-tabs padding-18">
					<li class="active"><a data-toggle="tab" href="#home"> <i
							class="green ace-icon fa fa-user bigger-120"></i> Hmo Profile
					</a></li>
					<li class="">
						<a th:href="@{/admin/insurances/hmos/package/index/{id}(id = ${hmo.hmoId})}">
							<i class="brown ace-icon fa fa-leaf bigger-120"></i> Hmo Packages
						</a>
					</li>
					<!-- <a
						th:href="@{/customers/patients/allergy/{id} (id = ${patient.id})}">
							<i class="brown ace-icon fa fa-leaf bigger-120"></i> Hmo Packages
					</a></li> -->					
				</ul>

				<div class="tab-content no-border padding-24">
					<div id="home" class="tab-pane in active">
						<div class="row">					
							

							<div class="col-xs-12 col-sm-9">
								<h4 class="blue">
									<span class="middle"
										th:text="${hmo.name}"> </span>
								</h4>


								
								<div class="profile-info-row">
										<div class="profile-info-name"> Address</div>

										<div class="profile-info-value">
											<i class="fa fa-map-marker light-orange bigger-110"></i> <span
												th:text="${hmo.address}"></span>
										</div>
									</div>


								<!-- <div class="profile-user-info">
									<div class="profile-info-row">
										<div class="profile-info-name">LGA</div>

										<div class="profile-info-value">
											<span th:text="${hmo.lga.localGovernmentAreasName}"></span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name">State</div>

										<div class="profile-info-value">
											<span
												th:text="${hmo.state.stateName}"></span>
										</div>
									</div> -->




								</div>

								<div class="hr hr-8 dotted"></div>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->

						<div class="space-20"></div>
					</div>
					<!-- /#home -->
				</div>
			</div>
		</div>

		<!-- Profile Ends  -->
		<!-- End View contents here -->
	</div>
<!-- </div> -->

<!-- <div class="modal fade" id="modal-simple">
	<div class="modal-dialog">
		<div class="modal-content">
			Form
			<form th:action="@{/customers/patients/imageUpload}"
				th:object="${imageForm}" method="post" enctype="multipart/form-data">
				Modal heading
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Change Image</h4>
				</div>
				// Modal heading END
				Modal body
				<div class="modal-body">
					<div class="form-group">
						<label for="lastName"
							class="col-sm-3 control-label no-padding-right">Image:</label>
						<div class="col-sm-9">
							<input type="file" th:field="*{imageFile}" placeholder="image" /><span
								class="text-danger" th:if="${#fields.hasErrors('imageFile')}"
								th:errors="*{imageFile}"></span>
						</div>
					</div>
				</div>
				// Modal body END

				Modal footer
				<div class="modal-footer">
					<input type="hidden" th:field="*{id}" />
					<button class="btn btn-primary btn-xs" type="submit"
						id="save-changes">Upload image</button>
					<button type="button" class="btn btn-xs" data-dismiss="modal">Cancel</button>
				</div>
				// Modal footer END
			</form>
			/.Form
		</div>
	</div>
</div> -->
